manifest {
    description = 'Extracts scans with a specific pattern in the filter line from an mzXML file'
    author = 'Patrick Pedrioli'
}

params {
    help = false
    mzxml_folder = 'Results/Mzxml'
    extract_pattern = "hcd28 hcd30"

    extractScans_scan_levels = 2		// Space separted list of MS/MS levels to filter
    extractScans_renumber = false		// Weather scan numbers should be renumbered in output mzXML
}

process.container = 'digitalproteomes/split-mzxml:latest'
docker {
    enabled = true
    sudo = true
    runOptions = '-e LOCAL_USER_ID=$(id -u) -u $(id -u):$(id -g)'
}
